<html>
<head>

<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="keywords" content="student club portal SCSVMV,SCSVMV student club portal">

<meta name="description" content="Welcome to the Student Club Portal at SCSVMV.Click belo to Login or Register">

<title>Student Club Portal | SCSVMV</title>
<!--Bootstrap-->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

<!--Google Fonts-->
  <link href="https://fonts.googleapis.com/css?family=PaciSfico&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:600i|Pacifico&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Merriweather|Montserrat|Sacramento" rel="stylesheet">
  <link rel="stylesheet"href="https://fonts.googleapis.com/css?family=Arbutus" rel="stylesheet">
<!--CSS -->
  <link rel="stylesheet" href="css/style.css">
  <!--bootstrap scripts-->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
     <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </head>
    <body>
<!--Nav bar-->

<ul class="sidenav">
    <li style="float:left;"class="nav1"><a href="#">STUDENT CLUB</li>
      <li class="dropdown" style="float:left;">
        <a href="javascript:void(0)" class="dropbtn">Events</a>
        <div class="dropdown-content">
          <a href="#web">Web Development</a>
          <a href="#app">App Development</a>
          <a href="#blog">Blogs</a>
          <a href="#debate">Debate</a>
          <a href="#presentation">Presentation</a>
          <a href="#online">Online Coding</a>
        </div>
      </li>

      <li style="font-size:18px;"><a href="/users/register">Register</a></li>
      <li style="font-size:18px;"><a href="/users/login">Login</a></li>
    </ul>


<section id="cover">

  <div id="feature-carousel" class="carousel slide" data-ride="carousel">

    <div class="carousel-inner">
      <div class="carousel-item active">

        <h3 class="cover-text1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Welcome<br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;to the<br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Student Club <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2020 <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;SCSVMV</h3>

      </div>

      <div class="carousel-item item-2">


       <h3 class="cover-text2">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;We believe<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;innovation
         <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          and <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;technology<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; is about eleveting <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; human potential</h3>
       </div>


      <div class="carousel-item">

          <h3 class="cover-text3">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;It's not where<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;you take things &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;from<br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;but where you &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;take<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;them to</h3>
      </div>
    <a class="carousel-control-prev" href="#feature-carousel" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true">
      </span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#feature-carousel" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"> </span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</section>
<section id="web">
  <h2>Web Development</h2>
  <div class="im2" class="container"><img src="/images/office.png" style="width: 400px;height: 400px; margin-left:900px;">
    <button class="btn">Button</button>
  </div>
        <div class="p1">
          <p >A web designer is someone who is both creative and technically inclined, and uses both these attributes to build or redesign websites. The web designer has the ability to understand what is needed to make a website functional and easy to use, but at the same time make it aesthetically appealing to the user.

          </p>
   </div>
</section>

<section id="app">
  <h2>App Development</h2>
  <div class="im2"><img src="/images/app.jpg" style="width: 400px;height: 400px; margin-left:900px;">
    
    </div>
  </div>
        <div class="p2">
          <p >Mobile app development is the act or process by which a mobile app is developed for mobile devices, such as personal digital assistants, enterprise digital assistants or mobile phones.The user is often the focus of interaction with their device, and the interface entails components of both hardware and software.
          </p>
        </div>
</section>
<section id="blog">
  <h2>Blogs for you</h2>
  <div class="im2"><img src="/images/blog.jpg" style="width: 400px;height: 400px; margin-left:900px;">
  </div>
        <div class="p2">
          <p >There are many reasons to start a blog for personal use and only a handful of strong ones for business blogging. Blogging for business, projects, or anything else that might bring you money has a very straightforward purpose – to rank your website higher in Google SERPs, a.k.a. increase your visibility.
          </p>
        </div>
  </section>
  <section id="debate">
    <h2>Debate</h2>
    <div class="im2"><img src="/images/debate.jpg" style="width: 450px;height: 400px; margin-left:900px;">
    </div>
          <div class="p2">
            <p>A formal discussion on a particular matter in a public meeting  in which opposing arguments are put forward and which usually ends with a vote.
            </p>
          </div>
    </section>
    <section id="presentation">
      <h2>Presenation</h2>
      <div class="im2"><img src="/images/presentation.jpg" style="width: 450px;height: 400px; margin-left:900px;">
      </div>
            <div class="p2">
              <p>A speech or talk in which a new product, idea, or piece of work is shown and explained to an audience.
              </p>
            </div>
      </section>
      <section id="online">
        <h2>Coding Challenge</h2>
        <div class="im2"><img src="/images/online.jpg" style="width: 450px;height: 400px; margin-left:900px;">
        </div>
              <div class="p2">
                <p>Online Coding Challenge is one of the platform to develop ones coding abilities
                </p>
              </div>
        </section>


<footer>
  <section id="footer">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-5">
        <ul class="social-icons">
          <li class="list-inline-item"><a href="https://www.facebook.com"><i class="fa fa-facebook"></i></a></li>
          <li class="list-inline-item"><a href="https://www.twitter.com"><i class="fa fa-twitter"></i></a></li>
          <li class="list-inline-item"><a href="https://www.instagram.com"><i class="fa fa-instagram"></i></a></li>
          <li class="list-inline-item"><a href="https://www.google.com"><i class="fa fa-google-plus"></i></a></li>
          <li class="list-inline-item"><a href="mailto:chandrikawork18@gmail.com;" target="_blank"><i class="fa fa-envelope"></i></a></li>
        </ul>
      </div>
      </hr>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
        <p class="copyline">&copy All rights Reserved to<a class="flink ml-2" href="contactus.html" target="_blank">Student Club@SCSVMV</a></p>
      </div>
      </hr>
    </div>

  </section>
</footer>
</body>
</html>
